* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2.6rem;
}
html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  font-size: 1.6rem;
}

.main_container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #270053 400px, transparent 0%);
  position: relative;
}

.main_content {
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 10px 0;
}

.main_content_wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
  text-transform: capitalize;
}

.main_content_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.question_number {
  align-self: flex-start;
  border-radius: 10px;
  color: white;
}

.main_content_wrapper_wrapper {
  display: flex;
  gap: 30px;
}

.total_questions,
.total_time {
  color: white;
  border-radius: 10px;
}

/* questions tab */
.question_container {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 15px rgb(128 128 128 / 15%);
}

#question {
  line-height: 2.6rem;
}

.options_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.option_wrapper {
  height: 100%;
  background-color: white;
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  box-shadow: 2px 5px 15px 2px rgb(128 128 128 / 15%);
  position: relative;
}

.radio_input {
  display: none;
}

.option_wrapper:hover {
  background-color: rgb(245, 245, 245, 0.6);
  cursor: pointer;
}

.radio_input:checked ~ .option_wrapper {
  border: 2px solid #8518c4;
  background-color: rgba(183, 76, 245, 0.1);
}

.option_wrapper {
  /* z-index: 2; */
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  align-content: center;
  align-items: center;
}

.option_number {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: white;
  /* background-color: rgb(255, 33, 63); */
  background-image: linear-gradient(to right bottom, #8518c4, #6a17b8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

/* navigation button */

.navigation_button {
  border: 0;
  outline: 0;
  padding: 1rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  font-size: 2.4rem;
  background-image: linear-gradient(to right bottom, #8518c4, #6a17b8);
  color: #fff;
  cursor: pointer;
  /* center the icon */
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous {
  left: 2rem;
}

.previous:active {
  transform: translateX(-2px);
}

.next {
  right: 2rem;
}

.next:active {
  transform: translateX(2px);
}

/* navigation button */
.btn {
  border: 0;
  outline: 0;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 1.6rem;
  text-transform: capitalize;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.btn_wrapper {
  margin-top: 20px;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mark_red {
  background-color: #fa255e;
}

.clear_selection {
  background-color: #0d6efd;
}

.submit {
  background-color: #6c757d;
}

.cancel {
  background-color: #e40031;
}

.side-bar {
  width: 25%;
  background-image: linear-gradient(45deg, #4f00ce, #d323ff);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.time-tab {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.2);
  font-size: 2.8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.question_grid_wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.2);
  background-color: white;
  overflow: hidden;
}

.question_grid_text {
  background-color: #eee;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.question_navigation_container {
  width: 100%;
  height: 355px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 30px;
  column-gap: 25px;
  overflow-y: scroll;
  transition: all 1s;
}

.question_navigation_container::-webkit-scrollbar {
  background-color: #eee;
  width: 10px;
  border-radius: 10px;
}
.question_navigation_container::-webkit-scrollbar-thumb {
  background-color: #9455cf;
  border-radius: 10px;
  width: 10px;
  border: 2px solid white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.student_info_wrapper {
  background-color: white;
  border-radius: 10px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.2);
}

.student_image {
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 5px 10px rgb(128 128 128 / 20%);
}

.student_image img {
  width: 4rem;
  clip-path: circle(50% at 50% 50%);
}

.student_name {
  text-transform: capitalize;
  color: rgb(49, 0, 95);
}

.question_number_element {
  width: 40px;
  height: 40px;
  background-color: purple;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.question_number_element:hover {
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 0, 0, 0.1),
    rgb(0, 0, 0, 0.1)
  );
}

.currentQuestionEffect {
  transform: scale(1.3);
}

.tags_btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.visited {
  background-color: rgb(106, 23, 184);
}

.not_visited {
  background-color: #00bdd8;
}

.mark_for_review {
  background-color: #fa255e;
}

.answered {
  background-color: rgb(85, 255, 150);
}

.question_tags {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  justify-content: end;
  flex-wrap: wrap;
}

.tags_wrapper {
  background-color: #eee;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  text-transform: capitalize;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 10px 0px;
  background-color: #3e2769;
}

.list_container {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.list_item {
  list-style: none;
}

.list_item a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

.list_item a:hover {
  color: rgb(202, 202, 202);
}

.total_time {
  display: flex;
  justify-content: space-evenly;
}

.js_time_wrapper {
  display: flex;
  gap: 20px;
  padding-right: 40px;
}

.time_counter_text {
  padding: 10px 0;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.js-time {
  color: white;
}

.time_counter {
  display: flex;
  justify-content: space-evenly;
}

.minutes,
.seconds {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.minutes_text,
.seconds_text {
  font-size: 16px;
  color: grey;
}

/* MAIN CSS THE END */

/* SVGs CSS */

.svg_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 100%;
  /* background-color: red; */
}

.svg_icon img {
  height: 100%;
}

.icon-text-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* SVGs CSS END HERE */

/* MEDIA QUERIES */
@media (max-width: 1250px) {
  .side-bar {
    display: none;
  }

  .main_container {
    width: 100%;
  }

  .options_container {
    display: flex;
    flex-direction: column;
  }

  .main_content_wrapper {
    width: 70%;
  }

  .nextQuestionButton {
    right: 10px;
  }

  .preQuestionButton {
    left: 10px;
  }
}

@media (max-width: 620px) {
  .question_tags {
    padding: 0;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .btn_wrapper {
    flex-direction: column;
  }

  .btn {
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
  }

  .nextQuestionButton {
    right: 5px;
  }

  .preQuestionButton {
    left: 5px;
  }

  .tags_btn {
    width: 20px;
    height: 20px;
  }
}

.arrow {
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e2769;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 5%;
  color: white;
}

/* MEDIA QUERIES END HERE */
